table,
th,
td {
  border: 1px solid;
}

th,
td {
  padding: 5px;
  background-color: bisque;
}

button {
  padding: 7px;
  margin: 5px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}